#m{
	font-size: 34px;
	color: blue;
	display: inline-block
}
#w{
	font-size: 34px;
	color: red;
	display: inline-block
}
#mage, #war{
	transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
}
.race{
	white-space: nowrap;
}
.inf{
	font-size: 25px;
	display: inline-block
}
.appl {
  font-size: 28px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.appl:hover { background: rgb(53, 167, 110); }
.appl:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.rasinf{
	font-size: 30px;
	font-weight: bold;
}
.lvlinf{
	margin-left: 60%;
	font-size: 25px;
	font-weight: bold;
}
#lvl{
	font-weight: bold;
	font-size: 25px;
}
span{
	font-size: 24px;
	transition: 0.5s;
}
.monstr{
	font-weight: bold;
	margin-left: 40%;

}

.do {
  width: 130px;
  height: 30px;
  margin-bottom: 15px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
.do:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.do:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.mh{
	color: red;
	margin-top: 20%;
}
.h{
	color: green;
}
#pic1, #pic2{
	width: 260px;
	height: 270px;
	position: absolute;
	left: 420px;
}
#pic{
	width: 260px;
	height: 270px;
	position: absolute;
	left: 720px;
}